# Python cache (кеш Python)
__pycache__/
*.pyc
*.pyo

# Environment variables (переменные окружения с секретами)
.env

# IDE (файлы вашей программы для написания кода)
.vscode/
.idea/
*.swp

# OS (системные файлы)
.DS_Store
Thumbs.db
